
  
  .img-hero {
    display: block;
   
    object-fit: cover;
  }
  
 
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #777777; /* Change this to your desired color */
  }
  
  .swiper-pagination-bullet-active {
    background-color: #ff004c;
    border: 2px solid white /* Change this to your desired active color */
  }

  .mySwiper .swiper-slide{
    
    
    display: flex;
    
    
  }
.swiper{
  
}